extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div.form-group
      label(for='login') Login:
      input#login.form-control(type='text', placeholder='Enter your login' name='login' value=(undefined===login ? '' : login))
      label(for='password') Password:
      input#password.form-control(type='text', placeholder='Enter your password' name='password' value=(undefined===password ? '' : password))
    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg