<html>
  <head>
  
   	<title>GOPO</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge; charset=utf-8" />
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    <link rel="stylesheet" href="node_modules/material-design-lite/material.min.css">
    <link rel="stylesheet" href="node_modules/highcharts/css/highcharts.css">
    <script src="node_modules/material-design-lite//material.min.js"></script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="node_modules/highcharts/js/highcharts.js"></script>
	
	<link rel="stylesheet" href="/app/View/Styles_index_admin.css">
	

  </head>
  <body>

        <!-- Simple header with fixed tabs. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row" >
          <!-- Title -->
          
          <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone" style="float:left" >
        	<span class="mdl-layout-title" style="margin-left:-40px;">GOPO</span>
          </div>
          
          <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone" style="float:right" onclick="document.getElementById('oModal1').style.display = 'block';">
        	<span class="mdl-layout-title">Lieux Actifs: 192</span>
          </div>
          
          <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone" style="float:right;">
        	<span class="mdl-layout-title">Joueurs Actifs: 520/980</span>
          </div>

          
        </div>
        <!-- Tabs -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect" style="border-top: 1px solid black;">
          <a href="#fixed-tab-1" class="mdl-layout__tab is-active">Le Monde</a>
          <a href="#fixed-tab-2" id="sortZones_admin" class="mdl-layout__tab">Gestion des lieux</a>
          <a href="#fixed-tab-3" id="sortPlayers_admin" class="mdl-layout__tab">Gestion des Utilisateurs</a>
          <a href="#fixed-tab-4" class="mdl-layout__tab" onclick="getHistogram();getHistoAchat();">Statistiques</a>
        </div>
      </header>
      <main class="mdl-layout__content">
        <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
          <div class="page-content">
          	<input id="pac-input" class="controls" type="text" placeholder="Rechercher un lieu">
          	<div id="map" style="height:86%;"></div>
		    <script>
		    
		        var marker;

				function initAutocomplete() {
			        var map = new google.maps.Map(document.getElementById('map'), {
			          center: {lat: 44.9339, lng: 1.8535},
			          zoom: 13,
			          mapTypeId: 'roadmap'
			        });
			        
			        var uluru = {lat: 44.9339, lng: 1.8535};
			        marker = new google.maps.Marker({
			          position: uluru,
			          map: map
			        });
			        
			        marker.addListener('click', function() {
			            $("#oModal1").show();
			        });
			
			        // Create the search box and link it to the UI element.
			        var input = document.getElementById('pac-input');
			        var searchBox = new google.maps.places.SearchBox(input);
			        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
			
			        // Bias the SearchBox results towards current map's viewport.
			        map.addListener('bounds_changed', function() {
			          searchBox.setBounds(map.getBounds());
			        });
			        
			        map.addListener('click', function(ev) {
			            marker.setPosition(ev.latLng);
			        });
			
			        searchBox.addListener('places_changed', function() {
			          var places = searchBox.getPlaces();
			
			          if (places.length == 0) {
			            return;
			          }
			
			          // For each place, get the icon, name and location.
			          var bounds = new google.maps.LatLngBounds();
			          places.forEach(function(place) {
			            if (!place.geometry) {
			              console.log("Returned place contains no geometry");
			              return;
			            }
			            var icon = {
			              url: place.icon,
			              size: new google.maps.Size(71, 71),
			              origin: new google.maps.Point(0, 0),
			              anchor: new google.maps.Point(17, 34),
			              scaledSize: new google.maps.Size(25, 25)
			            };
			            if (marker !== undefined) {
			                marker.setOptions({
			                  map: map,
			                  icon: icon,
			                  title: place.name,
			                  position: place.geometry.location
			                });
			            } else {
			                marker = new google.maps.Marker({
			                  map: map,
			                  icon: icon,
			                  title: place.name,
			                  position: place.geometry.location
			                });
			            }
			            if (place.geometry.viewport) {
			              // Only geocodes have viewport.
			              bounds.union(place.geometry.viewport);
			            } else {
			              bounds.extend(place.geometry.location);
			            }
			          });
			          map.fitBounds(bounds);
			        });
			      }
			      
                function ajoutlieu() {
                    var lat = marker.position.lat();
                    var lng = marker.position.lng();
                    var nom = $("#nom_lieu").val();
                    var descriptif = $("#descriptif").val();
                    var cout = $("#cout").val();
                    var gain = $("#gain").val();
                    var rayon = $("#rayon").val();
                    $.ajax({
                        url: "http://127.0.0.1:8090/ajoutlieu",
						type: "PUT",
						data: {latitude: lat, longitude: lng, libelle: nom, description: descriptif, valeur: cout, gain: gain, rayon: rayon},
						success: function(data) {
							$("#oModal1").hide();
						}
					}); 
			   }
				
		    </script>
		    
		    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqwPesSRd4j-HDQdCI78AY-_P6qPr2u3w&libraries=places&callback=initAutocomplete"></script>
          	
          </div>
        </section>
        
        <script>
        		//zones
        		function getListZones_admin() {
					$.get("http://176.159.137.250:8090/zones_admin",
						function(data) {
							sortListZones_admin(data);
						},
						"json"
					);
				}
				
				function sortListZones_admin(data) {
					$("#listZones_admin").empty();
					$.each(data['zones'], function(key, value) {
						$('#listPlayers_admin').append('<li class="mdl-list__item mdl-list__item--three-line" style="margin-top:-40px;"><span class="mdl-list__item-primary-content"><img  class=\'article-image\' src=\'/View/Images/paysage.png\' style=\'\' border=\'0\' alt=\'\'><span>' + value['libelle'] + '</span><button style="" class="list_lieux_btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button">Supprimer</button> <span style="float:right;margin-right:50px;margin-left:30px;">Prix:</br></br><input type="number" value="' + value['valeur'] + '" style="width:75px;height:40px;"></span><span class="mdl-list__item-text-body" style="max-width:70%;">' + value['description'] + '</span></span></li>');
					});
				}
				
				$("#sortZones_admin").click(function() {
					getListZones_admin();
				});
				
				//users
				function getListPlayers_admin() {
					$.get("http://176.159.137.250:8090/players_admin",
						function(data) {
							sortListPlayers_admin(data);
						},
						"json"
					);
				}
				
				function sortListPlayers_admin(data) {
					$("#listPlayers_admin").empty();
					$.each(data['players'], function(key, value) {
						$('#listPlayers_admin').append('<li class="mdl-list__item mdl-list__item--three-line" style="margin-top:-40px;"><span class="mdl-list__item-primary-content"><img  class=\'article-image\' src=\'/View/Images/paysage.png\' style=\'\' border=\'0\' alt=\'\'><span>' + value['prenom'] + value['nom'] + '</span><button style="" class="list_lieux_btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button">Bannir</button> <span style="float:right;margin-right:50px;margin-left:30px;">Prix:</br></br><input type="number" value="' + value['credit'] + '" style="width:75px;height:40px;"></span><span class="mdl-list__item-text-body" style="max-width:70%;">' + value['pseudo'] + '</span></span></li>');
					});
				}
				
				$("#sortPlayers_admin").click(function() {
					getListPlayers_admin();
				});
				
				
				
        </script>
        
        <section class="mdl-layout__tab-panel" id="fixed-tab-2">
          <div class="page-content">
          	<ul class="mdl-list" id="listZones_admin">
			</ul>
          </div>
        </section>
        
        <section class="mdl-layout__tab-panel" id="fixed-tab-3">
          <div class="page-content">
          	<ul class="mdl-list" id="listPlayers_admin">
			</ul>
          </div>
        </section>
        <section class="mdl-layout__tab-panel" id="fixed-tab-4">
          <div class="page-content">
          	<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
			  <div class="mdl-tabs__tab-bar">
			      <a href="#classement-panel" style="width:50%;" class="mdl-tabs__tab">Classement</a>
			      <a href="#zones-panel" style="width:50%;" class="mdl-tabs__tab is-active" onclick="getHistogram();">Zones Libres / Zones Occupées</a>
			      <a href="#lannisters-panel" style="width:50%;" class="mdl-tabs__tab" onclick="getHistoAchat();">Evolution de l'occupation</a>
			  </div>
			
			  <div class="mdl-tabs__panel is-active" id="zones-panel">
				<div id="containerZones" style="height:75%;"></div>
			  </div>
			  
			  <div class="mdl-tabs__panel" id="lannisters-panel">
				  <div id="container" style="height:75%;"></div>
			  </div>
			</div>
          	
          	<script>
          	
          	    function getHistogram() {
          	        var dataLibre = [null, null];
          	        var dataOccupee = [null, null];
          	        $.get(
          	            "http://176.159.137.250:8090/histogram",
          	            function (data) {
          	                console.log(data.libre);
          	                dataLibre[0] = data.libre;
          	                dataOccupee[1] = data.occupee;
          	                Highcharts.chart('containerZones', {
				                chart: {
				                    type: 'column'
				                },
				                title: {
				                    text: 'Statistiques des zones disponibles / occupées'
				                },
				                subtitle: {
				                    text: ''
				                },
				                xAxis: {
				                    title: {
				                        text: 'Dénombrement'
				                    }
				                },
				                yAxis: {
				                    title: {
				                        text: 'Nombre'
				                    }
				                },
				                series: [
                                    /* this is the "dummy" series
                                       set the "showInLegend" and "enableMouseTracking" attributes 
                                       to "false" to prevent user interaction */
                                    { name: 'Zones Libres', color: '#00FF00', data: dataLibre }, 
                                    { name: 'Zones Occupées', color: 'red', data: dataOccupee }
                                ]
				            });
          	            }, "json"
          	        );
				}
				
				function getHistoAchat() {
					var processed_json = new Array();
					var processed_json2 = new Array();
          	        $.get(
          	            "http://176.159.137.250:8090/stat_achat_zone",
          	            function (data) {
          	            	
	          	        for (i = 0; i < data.length; i++){
	                        processed_json.push(data[i].nombre);
	                        processed_json2.push(data[i].date);
	                    }
	                    
							Highcharts.chart('container', {
						    chart: {
						        type: 'line'
						    },
						    title: {
						        text: 'Statistiques d achat de zones à l année'
						    },
						    subtitle: {
						        text: ''
						    },
						    xAxis: {
						        categories: processed_json2//['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
						    },
						    yAxis: {
						        title: {
						            text: 'Nombre d achats'
						        }
						    },
						    plotOptions: {
						        line: {
						            dataLabels: {
						                enabled: true
						            },
						            enableMouseTracking: false
						        }
						    },
						    series: [{
						        name: "zones",
						        data: processed_json//[7.0, 6.9, 9.5, 14.5, 18.4, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
						    }]
						});
          	            }, "json"
          	        );
				}
          	

			</script>
          	
          </div>
        </section>
      </main>
      <!--POPUP ACHAT LIEU -->
    <div id="oModal1" class="oModal1" style="overflow-y:none;display:none;pointer-events: all;">
		<div style="border-radius:4px;">
			<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" style="overflow-y:hidden;">
				<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
					<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
						<img  class='article-image' src='/View/Images/utilisateur.png' style='' border='0' alt=''>
					</div>
					<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone" style="float:left;width:40%;font-size:20px;padding-top:30px;">
						<div class="mdl-textfield mdl-js-textfield">
							<input class="mdl-textfield__input" type="text" id="nom_lieu" />
							<label class="mdl-textfield__label" for="nom_lieu">Nom du lieu</label>
						</div>
						<div>
						    <span id="adresse">Adresse du lieu</span>
						</div>
					</div>
				</div>
				<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-grid portfolio-max-width">
					<div class="mdl-textfield mdl-js-textfield">
						<input class="mdl-textfield__input" type="text" id="descriptif" />
						<label class="mdl-textfield__label" for="descriptif">Descriptif</label>
					</div>
				</div>
				<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-grid portfolio-max-width">
					<span>Coût du lieu : </span><input type="number" id="cout" value="100" min="1" />
				</div>
				<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-grid portfolio-max-width">
					<span>Gain du lieu : </span><input type="number" id="gain" value="10" min="1" />
				</div>
				<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-grid portfolio-max-width">
					<span>Rayon du lieu : </span><input type="number" id="rayon" value="50" min="1" />
				</div>
				<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
					<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone" style="float:left;padding-top:30px;text-align:center;">
						<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" onclick="document.getElementById('oModal1').style.display = 'none';" style="border: solid 1px #0089c2;padding:0;margin:auto;width:144px;height:40px;color: #0089c2;;text-align:center;background-color: white;border-radius: 4px;">Annuler</button>
					</div>
					<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone" style="float:right;font-size:20px;padding-top:30px;text-align:center;">
						<button type="button" id="ajouter_lieu" onclick="ajoutlieu();" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="border: solid 1px #0089c2;padding:0;margin:auto;width:144px;height:40px;color: #0089c2;;text-align:center;background-color: white;border-radius: 4px;">Ajouter</button>
					</div>
				</div>
			</div>
		</div>
	</div>
    </div>
  </body>
</html>	