<!-- CSS POPUP POUR LES DIFFERENTS MENUS -->

	.oModal {
		
		position: fixed;
		z-index: 99999;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.8);
		pointer-events: none;
		
	}
	
	.oModal:target {
		
		opacity:1;
		
	}
	
	.oModal > div {
		
		max-width: 600px;
		position: relative;
		margin: 10% auto;
		padding: 8px 8px 8px 8px;
		border-radius: 2px;
		background: #fff;
		
	}