<html>
  <head>
  
   	<title>GOPO</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge; charset=utf-8" />
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    <link rel="stylesheet" href="../node_modules/material-design-lite/material.min.css">
    <link rel="stylesheet" href="../node_modules/highcharts/css/highcharts.css">
    <script src="../node_modules/material-design-lite//material.min.js"></script>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="../node_modules/highcharts/js/highcharts.js"></script>
	
	<link rel="stylesheet" href="Styles_index_admin.css">
	

  </head>
  <body>

        <!-- Simple header with fixed tabs. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row" >
          <!-- Title -->
          
          <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone" style="float:left" >
        	<span class="mdl-layout-title" style="margin-left:-40px;">GOPO</span>
          </div>
          
          <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone" style="float:right" onclick="document.getElementById('oModal1').style.display = 'block';">
        	<span class="mdl-layout-title">Lieux Actifs: 192</span>
          </div>
          
          <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone" style="float:right;">
        	<span class="mdl-layout-title">Joueurs Actifs: 520/980</span>
          </div>

          
        </div>
        <!-- Tabs -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect" style="border-top: 1px solid black;">
          <a href="#fixed-tab-1" class="mdl-layout__tab is-active">Le Monde</a>
          <a href="#fixed-tab-2" class="mdl-layout__tab">Gestion des lieux</a>
          <a href="#fixed-tab-3" class="mdl-layout__tab">Gestion des Utilisateurs</a>
          <a href="#fixed-tab-4" class="mdl-layout__tab">Statistiques</a>
        </div>
      </header>
      <main class="mdl-layout__content">
        <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
          <div class="page-content">
          	<input id="pac-input" class="controls" type="text" placeholder="Rechercher un lieu">
          	<div id="map" style="height:86%;"></div>
		    <script>

				function initAutocomplete() {
			        var map = new google.maps.Map(document.getElementById('map'), {
			          center: {lat: 44.9339, lng: 1.8535},
			          zoom: 13,
			          mapTypeId: 'roadmap'
			        });
			        
			        var uluru = {lat: 44.9339, lng: 1.8535};
			        var marker = new google.maps.Marker({
			          position: uluru,
			          map: map
			        });
			
			        // Create the search box and link it to the UI element.
			        var input = document.getElementById('pac-input');
			        var searchBox = new google.maps.places.SearchBox(input);
			        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
			
			        // Bias the SearchBox results towards current map's viewport.
			        map.addListener('bounds_changed', function() {
			          searchBox.setBounds(map.getBounds());
			        });
			
			        var markers = [];
			        // Listen for the event fired when the user selects a prediction and retrieve
			        // more details for that place.
			        searchBox.addListener('places_changed', function() {
			          var places = searchBox.getPlaces();
			
			          if (places.length == 0) {
			            return;
			          }
			
			          // Clear out the old markers.
			          markers.forEach(function(marker) {
			            marker.setMap(null);
			          });
			          markers = [];
			
			          // For each place, get the icon, name and location.
			          var bounds = new google.maps.LatLngBounds();
			          places.forEach(function(place) {
			            if (!place.geometry) {
			              console.log("Returned place contains no geometry");
			              return;
			            }
			            var icon = {
			              url: place.icon,
			              size: new google.maps.Size(71, 71),
			              origin: new google.maps.Point(0, 0),
			              anchor: new google.maps.Point(17, 34),
			              scaledSize: new google.maps.Size(25, 25)
			            };
			
			            // Create a marker for each place.
			            markers.push(new google.maps.Marker({
			              map: map,
			              icon: icon,
			              title: place.name,
			              position: place.geometry.location
			            }));
			
			            if (place.geometry.viewport) {
			              // Only geocodes have viewport.
			              bounds.union(place.geometry.viewport);
			            } else {
			              bounds.extend(place.geometry.location);
			            }
			          });
			          map.fitBounds(bounds);
			        });
			      }
				
		    </script>
		    
		    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqwPesSRd4j-HDQdCI78AY-_P6qPr2u3w&libraries=places&callback=initAutocomplete"></script>
          	
          </div>
        </section>
        
        <section class="mdl-layout__tab-panel" id="fixed-tab-2">
          <div class="page-content">
          	<ul class="mdl-list">
			  <li class="mdl-list__item mdl-list__item--three-line" style="margin-top:-40px;">
			    <span class="mdl-list__item-primary-content">
			      <img  class='article-image' src='Images/paysage.png' style='' border='0' alt=''>
			      <span>Paris</span>
			      
			      <button style="" class="list_lieux_btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button">Supprimer</button>
			      <span style="float:right;margin-right:50px;margin-left:30px;">Prix:</br></br><input type="number" value="150" style="width:75px;height:40px;"></span>
			      
			      <span class="mdl-list__item-text-body" style="max-width:70%;">
			        Bryan Cranston played the role of Walter in Breaking Bad. He is also known
			        for playing Hal in Malcom in the Middle.
			      </span>
			      
			    </span>
			  </li>
			  <li class="mdl-list__item mdl-list__item--three-line">
			    <span class="mdl-list__item-primary-content">
			      <img  class='article-image' src='Images/paysage.png' style='' border='0' alt=''>
			      <span>Londres</span>
			      
			      <button style="" class="list_lieux_btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button">Supprimer</button>
			      <span style="float:right;margin-right:50px;margin-left:30px;">Prix:</br></br><input type="number" value="150" style="width:75px;height:40px;"></span>
			      
			      <span class="mdl-list__item-text-body" style="max-width:70%;">
			        Aaron Paul played the role of Jesse in Breaking Bad. He also featured in
			        the "Need For Speed" Movie.
			      </span>
			    </span>
			  </li>
			  <li class="mdl-list__item mdl-list__item--three-line">
			    <span class="mdl-list__item-primary-content">
			      <img  class='article-image' src='Images/paysage.png' style='' border='0' alt=''>
			      <span>New York</span>
			      
			      <button style="" class="list_lieux_btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button">Supprimer</button>
			      <span style="float:right;margin-right:50px;margin-left:30px;">Prix:</br></br><input type="number" value="150" style="width:75px;height:40px;"></span>
			      
			      <span class="mdl-list__item-text-body" style="max-width:70%;">
			        Bob Odinkrik played the role of Saul in Breaking Bad. Due to public fondness for the
			        character, Bob stars in his own show now, called "Better Call Saul".
			      </span>
			    </span>
			  </li>
			  <li class="mdl-list__item mdl-list__item--three-line">
			    <span class="mdl-list__item-primary-content">
			      <img  class='article-image' src='Images/paysage.png' style='' border='0' alt=''>
			      <span>Abidjan</span>
			      
			      <button style="" class="list_lieux_btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button">Supprimer</button>
			      <span style="float:right;margin-right:50px;margin-left:30px;">Prix:</br></br><input type="number" value="150" style="width:75px;height:40px;"></span>
			      
			      <span class="mdl-list__item-text-body" style="max-width:70%;">
			        Bryan Cranston played the role of Walter in Breaking Bad. He is also known
			        for playing Hal in Malcom in the Middle.
			      </span>
			    </span>
			  </li>
			  <li class="mdl-list__item mdl-list__item--three-line">
			    <span class="mdl-list__item-primary-content">
			      <img  class='article-image' src='Images/paysage.png' style='' border='0' alt=''>
			      <span>Sydney</span>
			      
			      <button style="" class="list_lieux_btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button">Supprimer</button>
			      <span style="float:right;margin-right:50px;margin-left:30px;">Prix:</br></br><input type="number" value="150" style="width:75px;height:40px;"></span>
			      
			      <span class="mdl-list__item-text-body" style="max-width:70%;">
			        Aaron Paul played the role of Jesse in Breaking Bad. He also featured in
			        the "Need For Speed" Movie.
			      </span>
			    </span>
			  </li>
			  <li class="mdl-list__item mdl-list__item--three-line">
			    <span class="mdl-list__item-primary-content">
			      <img  class='article-image' src='Images/paysage.png' style='' border='0' alt=''>
			      <span>Tokyo</span>
			      
			      <button style="" class="list_lieux_btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button">Supprimer</button>
			      <span style="float:right;margin-right:50px;margin-left:30px;">Prix:</br></br><input type="number" value="150" style="width:75px;height:40px;"></span>
			      
			      <span class="mdl-list__item-text-body" style="max-width:70%;">
			        Bob Odinkrik played the role of Saul in Breaking Bad. Due to public fondness for the
			        character, Bob stars in his own show now, called "Better Call Saul".
			      </span>
			    </span>
			  </li>
			</ul>
          </div>
        </section>
        
        <section class="mdl-layout__tab-panel" id="fixed-tab-3">
          <div class="page-content">
          	<ul class="mdl-list">
			  <li class="mdl-list__item mdl-list__item--three-line" style="margin-top:-40px;">
			    <span class="mdl-list__item-primary-content">
			      <img  class='article-image' src='Images/utilisateur.png' style='' border='0' alt=''>
			      <span>Peter</span>
			      
			      <button style="" class="list_lieux_btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button">Bannir</button>
			      <span style="float:right;margin-right:50px;margin-left:30px;">Credits:</br></br><input type="number" value="150" style="width:75px;height:40px;"></span>
			      
			      <span class="mdl-list__item-text-body" style="max-width:70%;">
			        Bryan Cranston played the role of Walter in Breaking Bad. He is also known
			        for playing Hal in Malcom in the Middle.
			      </span>
			      
			    </span>
			  </li>
			  <li class="mdl-list__item mdl-list__item--three-line">
			    <span class="mdl-list__item-primary-content">
			      <img  class='article-image' src='Images/utilisateur.png' style='' border='0' alt=''>
			      <span>Jane</span>
			      
			      <button style="" class="list_lieux_btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button">Bannir</button>
			      <span style="float:right;margin-right:50px;margin-left:30px;">Credits:</br></br><input type="number" value="150" style="width:75px;height:40px;"></span>
			      
			      <span class="mdl-list__item-text-body" style="max-width:70%;">
			        Aaron Paul played the role of Jesse in Breaking Bad. He also featured in
			        the "Need For Speed" Movie.
			      </span>
			    </span>
			  </li>
			  <li class="mdl-list__item mdl-list__item--three-line">
			    <span class="mdl-list__item-primary-content">
			      <img  class='article-image' src='Images/utilisateur.png' style='' border='0' alt=''>
			      <span>Malcolm</span>
			      
			      <button style="" class="list_lieux_btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button">Bannir</button>
			      <span style="float:right;margin-right:50px;margin-left:30px;">Credits:</br></br><input type="number" value="150" style="width:75px;height:40px;"></span>
			      
			      <span class="mdl-list__item-text-body" style="max-width:70%;">
			        Bob Odinkrik played the role of Saul in Breaking Bad. Due to public fondness for the
			        character, Bob stars in his own show now, called "Better Call Saul".
			      </span>
			    </span>
			  </li>
			  <li class="mdl-list__item mdl-list__item--three-line">
			    <span class="mdl-list__item-primary-content">
			      <img  class='article-image' src='Images/utilisateur.png' style='' border='0' alt=''>
			      <span>Dom</span>
			      
			      <button style="" class="list_lieux_btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button">Bannir</button>
			      <span style="float:right;margin-right:50px;margin-left:30px;">Credits:</br></br><input type="number" value="150" style="width:75px;height:40px;"></span>
			      
			      <span class="mdl-list__item-text-body" style="max-width:70%;">
			        Bryan Cranston played the role of Walter in Breaking Bad. He is also known
			        for playing Hal in Malcom in the Middle.
			      </span>
			    </span>
			  </li>
			  <li class="mdl-list__item mdl-list__item--three-line">
			    <span class="mdl-list__item-primary-content">
			      <img  class='article-image' src='Images/utilisateur.png' style='' border='0' alt=''>
			      <span>Cyril</span>
			      
			      <button style="" class="list_lieux_btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button">Bannir</button>
			      <span style="float:right;margin-right:50px;margin-left:30px;">Credits:</br></br><input type="number" value="150" style="width:75px;height:40px;"></span>
			      
			      <span class="mdl-list__item-text-body" style="max-width:70%;">
			        Aaron Paul played the role of Jesse in Breaking Bad. He also featured in
			        the "Need For Speed" Movie.
			      </span>
			    </span>
			  </li>
			  <li class="mdl-list__item mdl-list__item--three-line">
			    <span class="mdl-list__item-primary-content">
			      <img  class='article-image' src='Images/utilisateur.png' style='' border='0' alt=''>
			      <span>Jojo</span>
			      
			      <button style="" class="list_lieux_btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button">Bannir</button>
			      <span style="float:right;margin-right:50px;margin-left:30px;">Credits:</br></br><input type="number" value="150" style="width:75px;height:40px;"></span>
			      
			      <span class="mdl-list__item-text-body" style="max-width:70%;">
			        Bob Odinkrik played the role of Saul in Breaking Bad. Due to public fondness for the
			        character, Bob stars in his own show now, called "Better Call Saul".
			      </span>
			    </span>
			  </li>
			</ul>
          </div>
        </section>
        <section class="mdl-layout__tab-panel" id="fixed-tab-4">
          <div class="page-content">
          	<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
			  <div class="mdl-tabs__tab-bar">
			      <a href="#starks-panel" style="width:50%;" class="mdl-tabs__tab is-active">Secteurs</a>
			      <a href="#lannisters-panel" style="width:50%;" class="mdl-tabs__tab">Temps de Jeu</a>
			  </div>
			
			  <div class="mdl-tabs__panel is-active" id="starks-panel">
				<div id="container" style="height:75%;"></div>
			  </div>
			  
			  <div class="mdl-tabs__panel" id="lannisters-panel">
				  <div id="container1" style="height:75%;"></div>
			  </div>
			</div>
          	
          	<script>
          	
	          	Highcharts.chart('container1', {
				    chart: {
				        type: 'area'
				    },
				    title: {
				        text: 'Historic and Estimated Worldwide Population Growth by Region'
				    },
				    subtitle: {
				        text: 'Source: Wikipedia.org'
				    },
				    xAxis: {
				        categories: ['1750', '1800', '1850', '1900', '1950', '1999', '2050'],
				        tickmarkPlacement: 'on',
				        title: {
				            enabled: false
				        }
				    },
				    yAxis: {
				        title: {
				            text: 'Billions'
				        },
				        labels: {
				            formatter: function () {
				                return this.value / 1000;
				            }
				        }
				    },
				    tooltip: {
				        split: true,
				        valueSuffix: ' millions'
				    },
				    plotOptions: {
				        area: {
				            stacking: 'normal',
				            lineColor: '#666666',
				            lineWidth: 1,
				            marker: {
				                lineWidth: 1,
				                lineColor: '#666666'
				            }
				        }
				    },
				    series: [{
				        name: 'Asia',
				        data: [502, 635, 809, 947, 1402, 3634, 5268]
				    }, {
				        name: 'Africa',
				        data: [106, 107, 111, 133, 221, 767, 1766]
				    }, {
				        name: 'Europe',
				        data: [163, 203, 276, 408, 547, 729, 628]
				    }, {
				        name: 'America',
				        data: [18, 31, 54, 156, 339, 818, 1201]
				    }, {
				        name: 'Oceania',
				        data: [2, 2, 2, 6, 13, 30, 46]
				    }]
				});
          	
          		Highcharts.chart('container', {
			
				    title: {
				        text: 'Nombre de joueurs par secteur, 2010-2017'
				    },
				
				    subtitle: {
				        text: ''
				    },
				
				    yAxis: {
				        title: {
				            text: 'Nombre de joueurs'
				        }
				    },
				    legend: {
				        layout: 'vertical',
				        align: 'right',
				        verticalAlign: 'middle'
				    },
				
				    plotOptions: {
				        series: {
				            label: {
				                connectorAllowed: false
				            },
				            pointStart: 2010
				        }
				    },
				
				    series: [{
				        name: 'Europe',
				        data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]
				    }, {
				        name: 'Asie',
				        data: [24916, 24064, 29742, 29851, 32490, 30282, 38121, 40434]
				    }, {
				        name: 'USA',
				        data: [11744, 17722, 16005, 19771, 20185, 24377, 32147, 39387]
				    }, {
				        name: 'Oceanie',
				        data: [null, null, 7988, 12169, 15112, 22452, 34400, 34227]
				    }, {
				        name: 'Afrique',
				        data: [12908, 5948, 8105, 11248, 8989, 11816, 18274, 18111]
				    }],
				
				    responsive: {
				        rules: [{
				            condition: {
				                maxWidth: 500
				            },
				            chartOptions: {
				                legend: {
				                    layout: 'horizontal',
				                    align: 'center',
				                    verticalAlign: 'bottom'
				                }
				            }
				        }]
				    }
				
				});
			</script>
          	
          </div>
        </section>
      </main>
    </div>
  </body>
</html>

	
<!--POPUP ACHAT LIEU -->	
	
	<div id="oModal1" class="oModal1" style="overflow-y:none;display:none;z-index:175;pointer-events: all;">
		<div style="border-radius:4px;">
			<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" style="overflow-y:hidden;max-height:500px;">
				<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
					<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone" style="float:left;width:40%;padding-top:30px;">
						<img  class='article-image' src='Images/utilisateur.png' style='' border='0' alt=''>
					</div>
					<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone" style="float:right;width:40%;font-size:20px;padding-top:30px;">
						<span>Nom du lieu</span>
							<br/><br/><br/>
						<span>Adresse du lieu</span>
					</div>
				</div>
				<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-grid portfolio-max-width">
					<img  class='article-image' src='Images/paysage_grand.png' style='margin:auto;' border='0' alt=''>
				</div>
				<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-grid portfolio-max-width">
					<span>Info du lieu</span>
				</div>
				<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-grid portfolio-max-width">
					<span>Solde actuel / Cout du lieu</span>
				</div>
				<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-grid portfolio-max-width">
					<span>reste apres achat</span>
				</div>
				<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
					<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone" style="float:left;padding-top:30px;text-align:center;">
						<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" onclick="document.getElementById('oModal1').style.display = 'none';" style="border: solid 1px #0089c2;padding:0;margin:auto;width:144px;height:40px;color: #0089c2;;text-align:center;background-color: white;border-radius: 4px;">Annuler</button>
					</div>
					<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone" style="float:right;font-size:20px;padding-top:30px;text-align:center;">
						<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" onclick="document.getElementById('oModal1').style.display = 'none';" style="border: solid 1px #0089c2;padding:0;margin:auto;width:144px;height:40px;color: #0089c2;;text-align:center;background-color: white;border-radius: 4px;">Activer</button>
					</div>
				</div>
			</div>
		</div>
	</div>
