<html>
  <head>
  
   	<title>GOPO</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge; charset=utf-8" />
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    <link rel="stylesheet" href="node_modules/material-design-lite/material.min.css">
    <script src="node_modules/material-design-lite//material.min.js"></script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	
	<link rel="stylesheet" href="/app/View/Styles_index.css">
	<script src="/socket.io/socket.io.js"></script>
	
  </head>
  <body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title" style="text-align:left;font-size:14px;" id="solde">Solde: 150 credits</span>
          
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"><span class="mdl-layout-title" style="text-align:right;font-size:14px;">1 / 500 personnes</span></div>
        </div>
      </header>
      <div class="mdl-layout__drawer" style="height:50%;margin-top:14%;">
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" onclick="document.getElementById('oModal1').style.display = 'block';"><img  class='article-image' src='/View/Images/statistiques.png' style='width:30px;height:30px;margin-right:10px;' border='0' alt=''>Statistiques</a>
          <a class="mdl-navigation__link" id="sortPlayers"><img  class='article-image' src='/View/Images/classement.png' style='width:30px;height:30px;margin-right:10px;margin-right:10px;' border='0' alt=''>Classement</a>
          <a class="mdl-navigation__link" id="getZones"><img  class='article-image' src='/View/Images/mes_lieux.png' style='width:30px;height:30px;margin-right:10px;' border='0' alt=''>Mes lieux</a>
          <a class="mdl-navigation__link" onclick="document.getElementById('oModal4').style.display = 'block';"><img  class='article-image' src='/View/Images/deconnexion.png' style='width:30px;height:30px;margin-right:10px;' border='0' alt=''>Deconnexion</a>
          <a class="mdl-navigation__link" onclick="document.getElementById('oModal5').style.display = 'block';"><img  class='article-image' src='/View/Images/gestion.png' style='width:30px;height:30px;margin-right:10px;' border='0' alt=''>Gestion de compte</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
		    <div id="map"></div>
		    <script>
		        var carte;
			    var mon_marqueur;
			    var mon_id;
			    var mon_credit;
			    var mon_pseudo;
			    var list_lieux_affiches = {};
			    var socket = io.connect("http://127.0.0.1:8090");
			    
			    $.get("http://127.0.0.1:8090/data",
			        function(data) {
			            mon_id = data.id_utilisateur;
			            mon_credit = data.credit;
			            mon_pseudo = data.pseudo;
			            $("#solde").text("Solde : " + mon_credit + " credits");
			    });
			    
				function geo_ok(position) {
					var latitude = position.coords.latitude;
					var longitude = position.coords.longitude;
					position = {lat: latitude, lng: longitude};
				}
				
				function geo_error(error) {
					alert(error.message+" / "+error.code);	 
				}

				function geo() {
					if(navigator.geolocation){
						navigator.geolocation.getCurrentPosition(geo_ok,
							geo_error, 
							{ enableHighAccuracy:true, maximumAge:10000, timeout:10000}
						);
					} else {
						alert('Erreur : pas de support de la géolocalisation dans votre navigateur');
					}
				}
			
			function initMap() {
				if (navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(set_position, set_position_error, {enableHighAccuracy:true, maximumAge:5000, timeout:5000});			
				} else {
					alert('Pas de support de la géolocalisation');
				}				
			}
			
			function mouvement_marqueur() {
				if (navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(update_position, update_position_error, {enableHighAccuracy:true, maximumAge:5000, timeout:5000});				
				} else {
					alert('Pas de support de la géolocalisation');
				}					
			}
			
			function update_position(position) {
			    if (mon_marqueur != undefined) {	
					var new_lat = position.coords.latitude;
					var new_long = position.coords.longitude;
					if (new_lat != mon_marqueur.getPosition().lat() || new_long != mon_marqueur.getPosition().lng()) {
						mon_marqueur.setPosition(new google.maps.LatLng(new_lat, new_long));	
						carte.panTo(new google.maps.LatLng(new_lat, new_long))				
					}
			    } else {
			        set_position(position);
			    }
			}
			
			function update_position_error() {
				alert('erreur!');
			}
			
			function set_position(position) {
				latitude = position.coords.latitude;
				longitude = position.coords.longitude;
				//var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
				var latlng = new google.maps.LatLng(latitude, longitude);
				var options = {
					center: latlng,
					zoom: 13,
					mapTypeId: google.maps.MapTypeId.SATELLITE
				};
				
				if (carte === undefined) {
					carte = new google.maps.Map(document.getElementById("map"), options);
				}
				mon_marqueur = new google.maps.Marker(
				 { 
					position: latlng, 
					title: mon_pseudo
				});
				mon_marqueur.setMap(carte);
				setInterval(mouvement_marqueur, 1000);
				voir();
			}
			
			function set_position_error(error) {
				alert(error.message);
			}
				
				function getListPlayers() {
					$(".oModal3").show();
					$.get("http://176.159.137.250:8090/players",
						function(data) {
							sortListPlayers(data);
						},
						"json"
					);
				}
				
				function sortListPlayers(data) {
					$("#listPlayers").empty();
					$.each(data['players'], function(key, value) {
						$('#listPlayers').append('<li class="mdl-list__item mdl-list__item--three-line"><span class="mdl-list__item-primary-content"><i class="material-icons mdl-list__item-avatar">person</i><span>' + value['pseudo'] + '</span><span class="mdl-list__item-text-body">Credit: ' + value['credit'] + '</span></span><span class="mdl-list__item-secondary-content"><a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a></span></li>');
					});
				}
				
				function getListZones() {
					$(".oModal4").show();
					$.get("http://127.0.0.1:8090/zones",
					function(data) {
						$("#countLieux").empty();
						$("#listLieux").empty();
						$("#countLieux").append('Vous avez ' + data.length + ' lieux');
						$.each(data, function(key, value) {
							$("#listLieux").append('<li class="mdl-list__item mdl-list__item--three-line" id="lieu_' + value.id_zone + '"><span class="mdl-list__item-primary-content"><img  class="article-image" src="' + value.path_image + '" style="width:30px;height:40px;" border="0" alt="" /><span>' + value.libelle + '</span><span class="mdl-list__item-text-body">' + value.description + '</span></span><button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect" onclick="vendreLieu('+ value.id_zone + ');" style="opacity:0.6;border: solid 1px #0089c2;padding:0;margin:auto;width:144px;height:40px;color: #0089c2;text-align:center;background-color: white;border-radius: 4px;">Vendre</button></li>');
						})
					});
				}
				
				function vendreLieu(id_lieu) {
					$.ajax({
						url: 'http://127.0.0.1:8090/vendre',
						type: 'PUT',
						data: {id_zone: id_lieu},
						success: function(data) {
							$('#lieu_' + id_lieu).remove();
						}
					});
				}
				
				function voir() {
					$.get("http://127.0.0.1:8090/voir",
						{latitude: latitude, longitude: longitude},
						function(data) {
							$.each(data, function(key, value) {
								if (list_lieux_affiches[value.id_zone] === undefined) {
									var color = '#00FF00';
									if (value.id_utilisateur !== null) {
										if (value.id_utilisateur == mon_id) {
											color = '#0000FF';
										} else {
											color = '#FF0000';
										}
									}
									var latlng = new google.maps.LatLng(value.latitude, value.longitude);
									var circle = new google.maps.Circle({
                    				center: latlng,
                    				map: carte,
                    				radius: 50,          // IN METERS.
                    				fillColor: color,
                    				fillOpacity: 0.5,
                    				strokeColor: "#FFF",
                    				strokeWeight: 0         // DON'T SHOW CIRCLE BORDER.
                				});
                
            					google.maps.event.addListener(circle, 'click', function(ev) {
            						$("#nomLieu").empty();
            						$("#coutLieu").empty();
            						$("#nomLieu").text(value.libelle);
            						$("#coutLieu").text(value.valeur);
            						if (google.maps.geometry.spherical.computeDistanceBetween(mon_marqueur.getPosition(), circle.getCenter()) <= circle.getRadius()) {
                						$("#confirmerAchat").click(function () {
                							acheterLieu(value.id_zone);
                						});
                					} else {
                					    $("#achat").prop('disabled', true);
                					    $("#achat").text('Trop loin');
                				    }
                				    if (value.id_utilisateur == mon_id) {
                				        $("#achat").prop('disabled', true);
                					    $("#achat").text('A vous');
                					}
            						$("#oModal1").show();
            						
									});
								}
							
						});
					}, "json");
				}
				
				function acheterLieu(id_lieu) {
					$.ajax({
						url: "http://127.0.0.1:8090/acheter",
						type: "PUT",
						data: {id_zone: id_lieu},
						success: function(data) {
						}
					});
				}

				$("#sortPlayers").click(function() {
					getListPlayers();
				});
				
				$("#getZones").click(function() {
					getListZones();
				})
		    </script>
		    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqwPesSRd4j-HDQdCI78AY-_P6qPr2u3w&callback=initMap"></script>
        </div>
      </main>
    </div>
  </body>
</html>

<!--POPUP LIEU-->	
	
	<div id="oModal1" class="oModal1" style="overflow-y:none;display:none;z-index:175;pointer-events: all;">
		<div style="border-radius:4px;">
			<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
				<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
					<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone" style="float:left;width:35%;font-size:20px;padding-top:30px;">
						<span id="nomLieu"></span>
							<br/><br/><br/>
						<span id="coutLieu"></span>
					</div>
					<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone" style="float:right;width:35%;padding-top:30px;">
						<img  class='article-image' src='/View/Images/paysage.png' style='' border='0' alt=''>
					</div>
				</div>
				<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-grid portfolio-max-width">
					<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" onclick="document.getElementById('oModal2').style.display = 'block';" style="border: solid 1px #0089c2;padding:0;margin:auto;width:144px;height:40px;color: #0089c2;;text-align:center;background-color: white;border-radius: 4px;" id="achat">Acheter</button>
				</div>
			</div>
		</div>
	</div>
	
	
<!--POPUP LIEU DETAIL-->	
	
	<div id="oModal2" class="oModal2" style="overflow-y:none;display:none;z-index:175;pointer-events: all;">
		<div style="border-radius:4px;">
			<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" style="overflow-y:hidden;max-height:500px;">
				<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
					<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone" style="float:left;width:40%;padding-top:30px;">
						<img  class='article-image' src='/View/Images/utilisateur.png' style='' border='0' alt=''>
					</div>
					<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone" style="float:right;width:40%;font-size:20px;padding-top:30px;">
						<span>Nom du lieu</span>
							<br/><br/><br/>
						<span>Adresse du lieu</span>
					</div>
				</div>
				<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-grid portfolio-max-width">
					<img  class='article-image' src='/View/Images/paysage_grand.png' style='margin:auto;' border='0' alt=''>
				</div>
				<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-grid portfolio-max-width">
					<span>Info du lieu</span>
				</div>
				<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-grid portfolio-max-width">
					<span>Solde actuel / Cout du lieu</span>
				</div>
				<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-grid portfolio-max-width">
					<span>reste apres achat</span>
				</div>
				<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
					<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone" style="float:left;width:40%;padding-top:30px;">
						<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" onclick="document.getElementById('oModal2').style.display = 'none';" style="border: solid 1px #0089c2;padding:0;margin:auto;width:144px;height:40px;color: #0089c2;;text-align:center;background-color: white;border-radius: 4px;">Annuler</button>
					</div>
					<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone" style="float:right;width:40%;font-size:20px;padding-top:30px;">
						<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id="confirmerAchat" style="border: solid 1px #0089c2;padding:0;margin:auto;width:144px;height:40px;color: #0089c2;;text-align:center;background-color: white;border-radius: 4px;">Confirmer</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
<!--POPUP CLASSEMENT-->	
	
	<div id="oModal3" class="oModal3" style="overflow-y:none;display:none;z-index:175;pointer-events: all;">
		<div style="border-radius:4px;">
			<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-grid portfolio-max-width">
				<button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect" onclick="document.getElementById('oModal3').style.display = 'none';" style="opacity:0.6;border: solid 1px #0089c2;padding:0;margin:auto;width:144px;height:40px;color: #0089c2;position:absolute;bottom:5;right:5;text-align:center;background-color: white;border-radius: 4px;">Retour</button>
			</div>
			<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
				<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone" style="float:left;width:40%;padding-top:15px;font-size:14px;">
					<span>Top 100</span>
				</div>
				<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone" style="float:right;width:40%;font-size:14px;padding-top:15px;">
					<span>Total: 5 000 joueurs</span>
				</div>
			</div>
			<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" style="overflow-y:auto;max-height:500px;">
				<ul class="demo-list-three mdl-list" id="listPlayers">
				 <!-- <li class="mdl-list__item mdl-list__item--three-line">
				    <span class="mdl-list__item-primary-content">
				      <i class="material-icons mdl-list__item-avatar">person</i>
				      <span>Bryan Cranston</span>
				      <span class="mdl-list__item-text-body">
				        Bryan Cranston played the role of Walter in Breaking Bad. He is also known
				        for playing Hal in Malcom in the Middle.
				      </span>
				    </span>
				    <span class="mdl-list__item-secondary-content">
				      <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
				    </span>
				  </li>
				  <li class="mdl-list__item mdl-list__item--three-line">
				    <span class="mdl-list__item-primary-content">
				      <i class="material-icons  mdl-list__item-avatar">person</i>
				      <span>Aaron Paul</span>
				      <span class="mdl-list__item-text-body">
				        Aaron Paul played the role of Jesse in Breaking Bad. He also featured in
				        the "Need For Speed" Movie.
				      </span>
				    </span>
				    <span class="mdl-list__item-secondary-content">
				      <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
				    </span>
				  </li>
				  <li class="mdl-list__item mdl-list__item--three-line">
				    <span class="mdl-list__item-primary-content">
				      <i class="material-icons  mdl-list__item-avatar">person</i>
				      <span>Bob Odenkirk</span>
				      <span class="mdl-list__item-text-body">
				        Bob Odinkrik played the role of Saul in Breaking Bad. Due to public fondness for the
				        character, Bob stars in his own show now, called "Better Call Saul".
				      </span>
				    </span>
				    <span class="mdl-list__item-secondary-content">
				      <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
				    </span>
				  </li>
				   <li class="mdl-list__item mdl-list__item--three-line">
				    <span class="mdl-list__item-primary-content">
				      <i class="material-icons mdl-list__item-avatar">person</i>
				      <span>Bryan Cranston</span>
				      <span class="mdl-list__item-text-body">
				        Bryan Cranston played the role of Walter in Breaking Bad. He is also known
				        for playing Hal in Malcom in the Middle.
				      </span>
				    </span>
				    <span class="mdl-list__item-secondary-content">
				      <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
				    </span>
				  </li>
				  <li class="mdl-list__item mdl-list__item--three-line">
				    <span class="mdl-list__item-primary-content">
				      <i class="material-icons  mdl-list__item-avatar">person</i>
				      <span>Aaron Paul</span>
				      <span class="mdl-list__item-text-body">
				        Aaron Paul played the role of Jesse in Breaking Bad. He also featured in
				        the "Need For Speed" Movie.
				      </span>
				    </span>
				    <span class="mdl-list__item-secondary-content">
				      <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
				    </span>
				  </li>
				  <li class="mdl-list__item mdl-list__item--three-line">
				    <span class="mdl-list__item-primary-content">
				      <i class="material-icons  mdl-list__item-avatar">person</i>
				      <span>Bob Odenkirk</span>
				      <span class="mdl-list__item-text-body">
				        Bob Odinkrik played the role of Saul in Breaking Bad. Due to public fondness for the
				        character, Bob stars in his own show now, called "Better Call Saul".
				      </span>
				    </span>
				    <span class="mdl-list__item-secondary-content">
				      <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
				    </span>
				  </li> -->
				</ul>
			</div>
		</div>
	</div>
	
	
<!--POPUP MES LIEUX-->	
	
	<div id="oModal4" class="oModal4" style="overflow-y:none;display:none;z-index:175;pointer-events: all;">
		<div style="border-radius:4px;">
			<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-grid portfolio-max-width">
				<button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect" onclick="document.getElementById('oModal4').style.display = 'none';" style="opacity:0.6;border: solid 1px #0089c2;padding:0;margin:auto;width:144px;height:40px;color: #0089c2;position:absolute;bottom:5;right:5;text-align:center;background-color: white;border-radius: 4px;">Retour</button>
			</div>
			<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
				<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone" style="float:left;width:40%;padding-top:15px;font-size:14px;">
					<span id="countLieux"></span>
				</div>
				<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone" style="float:right;width:40%;font-size:14px;padding-top:15px;">
					<span>Total: 10 000 zones</span>
				</div>
			</div>
			<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" style="overflow-y:auto;max-height:500px;">
				<ul class="demo-list-three mdl-list" id="listLieux">
				  <!--
				  <li class="mdl-list__item mdl-list__item--three-line">
				    <span class="mdl-list__item-primary-content">
				      <img  class='article-image' src='Images/paysage.png' style='width:30px;height:40px;' border='0' alt=''>
				      <span>Aaron Paul</span>
				      <span class="mdl-list__item-text-body">
				        Aaron Paul played the role of Jesse in Breaking Bad. He also featured in
				        the "Need For Speed" Movie.
				      </span>
				    </span>
					<img  class='article-image' src='Images/vendre.png' style='width:30px;height:30px;padding-top:10xp;' border='0' alt=''>
				  </li>
				  <li class="mdl-list__item mdl-list__item--three-line">
				    <span class="mdl-list__item-primary-content">
				      <img  class='article-image' src='Images/paysage.png' style='width:30px;height:40px;' border='0' alt=''>
				      <span>Bob Odenkirk</span>
				      <span class="mdl-list__item-text-body">
				        Bob Odinkrik played the role of Saul in Breaking Bad. Due to public fondness for the
				        character, Bob stars in his own show now, called "Better Call Saul".
				      </span>
				    </span>
					<img  class='article-image' src='Images/vendre.png' style='width:30px;height:30px;padding-top:10xp;' border='0' alt=''>
				  </li>
				   <li class="mdl-list__item mdl-list__item--three-line">
				    <span class="mdl-list__item-primary-content">
				      <img  class='article-image' src='Images/paysage.png' style='width:30px;height:40px;' border='0' alt=''>
				      <span>Bryan Cranston</span>
				      <span class="mdl-list__item-text-body">
				        Bryan Cranston played the role of Walter in Breaking Bad. He is also known
				        for playing Hal in Malcom in the Middle.
				      </span>
				    </span>
					<img  class='article-image' src='Images/vendre.png' style='width:30px;height:30px;padding-top:10xp;' border='0' alt=''>
				  </li>
				  <li class="mdl-list__item mdl-list__item--three-line">
				    <span class="mdl-list__item-primary-content">
				      <img  class='article-image' src='Images/paysage.png' style='width:30px;height:40px;' border='0' alt=''>
				      <span>Aaron Paul</span>
				      <span class="mdl-list__item-text-body">
				        Aaron Paul played the role of Jesse in Breaking Bad. He also featured in
				        the "Need For Speed" Movie.
				      </span>
				    </span>
					<img  class='article-image' src='Images/vendre.png' style='width:30px;height:30px;padding-top:10xp;' border='0' alt=''>
				  </li>
				  <li class="mdl-list__item mdl-list__item--three-line">
				    <span class="mdl-list__item-primary-content">
				      <img  class='article-image' src='Images/paysage.png' style='width:30px;height:40px;' border='0' alt=''>
				      <span>Bob Odenkirk</span>
				      <span class="mdl-list__item-text-body">
				        Bob Odinkrik played the role of Saul in Breaking Bad. Due to public fondness for the
				        character, Bob stars in his own show now, called "Better Call Saul".
				      </span>
				    </span>
					<img  class='article-image' src='Images/vendre.png' style='width:30px;height:30px;padding-top:10xp;' border='0' alt=''>	
				  </li> -->
				</ul>
			</div>
		</div>
	</div>
	
	
<!--POPUP GESTION COMPTE-->	
	
	<div id="oModal5" class="oModal5" style="overflow-y:none;display:none;z-index:175;pointer-events: all;">
		<div style="border-radius:4px;">
			<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-grid portfolio-max-width">
				<ul class="demo-list-three mdl-list" style="padding:0px 0px;">
				   <li class="mdl-list__item mdl-list__item--three-line">
				    <span class="mdl-list__item-primary-content">
				      <img  class='article-image' src='Images/utilisateur.png' style='width:30px;height:30px;' border='0' alt=''>
				      <span>Bryan Cranston</span>
				      <span class="mdl-list__item-text-body">
				        Bryan Cranston played the role of Walter in Breaking Bad.
				      </span>
				    </span>
				  </li>
				  <li class="mdl-list__item mdl-list__item--three-line">
				    <span class="mdl-list__item-primary-content">
				      <img  class='article-image' src='Images/mail.png' style='width:30px;height:30px;' border='0' alt=''>
				      <span>Aaron Paul</span>
				      <span class="mdl-list__item-text-body">
				        Aaron Paul played the role of Jesse in Breaking Bad.
				      </span>
				    </span>
				  </li>
				  <li class="mdl-list__item mdl-list__item--three-line">
				    <span class="mdl-list__item-primary-content">
				      <img  class='article-image' src='Images/telephone.png' style='width:30px;height:30px;' border='0' alt=''>
				      <span>Bob Odenkirk</span>
				      <span class="mdl-list__item-text-body">
				        Bob Odinkrik played the role of Saul in Breaking Bad.
				    </span>
				  </li>
				</ul>
			</div>
			<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-grid portfolio-max-width">
				<button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect" onclick="document.getElementById('oModal5').style.display = 'none';" style="border: solid 1px #0089c2;padding:0;margin:auto;min-width:190px;height:40px;color: #0089c2;text-align:center;background-color: white;border-radius: 4px;">Changer Mot de passe</button>
			</div>
			<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-grid portfolio-max-width">
				<button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect" onclick="document.getElementById('oModal5').style.display = 'none';" style="border: solid 1px #0089c2;padding:0;margin:auto;width:190px;height:40px;color: #0089c2;text-align:center;background-color: white;border-radius: 4px;">Desactiver mon compte</button>
			</div>
		</div>
	</div>